.App {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}

.well {
  background-image: linear-gradient(rgb(22, 26, 56),rgb(7, 14, 63));
  width: 40%;  
}

.addInput {
  margin: 18px;
  width: 70%;
  height: 5vh;
  border-radius: 4px;
  
  /* margin-left: 4px; */
}

.btn {
  margin: 3px;
  width: 20%;
  height: 5.5vh;
  border-radius: 5px;
  margin-top: -2px;
}

.list-group {
  margin: 11px;
}

.mylist {
  /* border: 1px solid black; */
  margin-top: 10px;  
  margin-bottom: 10px;  
  text-align: justify;
  /* border-radius: 7px; */
}

.list-group-item {
  word-wrap: break-word;
}

.my-text {
  margin-right: 3px;
  word-wrap: break-word;
}

.ed-del {
  display: flex;
  flex-direction: row;
  margin-top: -20px;
  justify-content: flex-end;
  align-items: center;
  /* position: relative;
  right: 0px; */
}

.fas {
  font-size: 20px;
  margin: 3px;
  display: flex;
  flex-direction: row;
  /* margin: 7px; */
  align-items: center;
}







